<!DOCTYPE HTML>
<html>
<head>
  <title>jsonwhois</title>

  <style type="text/css">
  <!--
    body { font-family: Helvetica, Arial, sans-serif; padding: 5em;}
    footer { font-size: 70%; }
  -->
  </style>

  <meta name="description" content="Make whois queries via REST." />
  <meta name="keywords" content="json,whois" />
  <meta name="author" content="Steve Agalloco" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6073342-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <h1>jsonwhois</h1>

  <p>To make a whois request simply access jsonwhois.heroku.com/[domain_name].</p>
  <p>The response type will be application/json if you add the appropriate Accept http header to your request.</p>
  <p>Examples:</p>
  
  <ul>
    <li><a href="/google.com">google.com</a></li>
    <li><a href="/amazon.com">amazon.com</a></li>
  </ul>
  
  <footer>
    <p>Made by <a href="http://beforeitwasround.com">Steve Agalloco</a>. Inspired by <a href="http://jsondns.org/">jsondns</a>. Code: <a href="http://github.com/spagalloco/jsonwhois">github</a>.
  </footer>
  
</body>
</html>